<!--(spinner)-->
<spinner [loading]="isLoading"></spinner>

<div class="row">
  <h1 class="heading heading--xlarge">EXPLORE OUR BEERS</h1>
</div>
<!--Sorting-->
<div *ngIf='!isLoading && beers'>
  <div class="row beers-filters">
    <div class="text-center"><strong>Order By:</strong></div>
    <ul class="filters orderBy">
      <li *ngFor="let orderBy of orderByOptions" (click)="changeOrderBy(orderBy)" [class.active]="orderBy==currentOrderBy">
        {{orderBy}} <i *ngIf="orderBy==currentOrderBy" class="fa" [ngClass]="{ 'fa-sort-asc': (currentSort=='asc'), 'fa-sort-desc': (currentSort=='desc') }"></i>
      </li>
    </ul>
  </div>
</div>

<!--Filtering-->
<div *ngIf='!isLoading && beers'>
  <div class="row beers-filters">
    <div class="text-center"><strong>Filter By:</strong></div>
    <ul class="filters">
      <li *ngFor="let filter of filters" (click)="filterByAvailableId(filter.id)" [class.active]="filter.id==currentAvailableId">
        {{filter.name}}
      </li>
    </ul>
  </div>
  <div class="row">
    <h1 class="heading heading--med">{{currentAvailableName}} Beers</h1>
  </div>
</div>

<div class="clearfix row">
  <hr />
</div>
<!--Beers List Container-->
<div class="beers-container" *ngIf='!isLoading && beers'>
  <ng-container *ngFor="let beer of beers; let i = index;">
    <div class="beer-item col-md-3 col-sm-12 col-xs-12">
      <a class="beer-link" [routerLink]="['/beers', beer.id]">
        <img [alt]="beer.nameDisplay" [src]='beer.displayImage' class="beer-image img-responsive">
      </a>
      <div class="beer-info">{{beer.nameDisplay}}&nbsp;({{beer.abv}}%)</div>
    </div>
    <div class="clearfix row beer-row" *ngIf="(i+1) % 4 == 0">
      &nbsp;
    </div>
  </ng-container>

</div>

<!--Paging-->
<div class="row beers-paging" *ngIf='!isLoading && beers'>
  <hr />
  Page&nbsp;<input type='number' [(ngModel)]='currentPageNumber' (keyup.enter)="goToPage($event)" /> of {{beerListResponse.numberOfPages}} &nbsp; <button type="button" class="btn-success" (click)="goToPage($event)">Load Page</button>
</div>


